{% extends 'base.twig' %}

{% block content %}
    <div class="main">
       <h1>email confirmation</h1>
       <p>Normally, anyone can put new entries in your mailbox. Our system by default suspends every e-mail and asks sender for confirmation.</p>
    </div>
{% endblock %}

