{% extends 'base.twig' %}

{% block content %}
    <div class="main">
	<a href="/monetized/">Monetized e-mail</a><br/>
       <!-- <a href="/voucher/">email Vouchers</a><br/> -->
	<a href="/confirmation/">email confirmations</a><br/>
    </div>
{% endblock %}

