{% extends 'base.twig' %}

{% block content %}
    <div class="main">
       <h1>email monetization</h1>
       <p>Normally, anyone can put new entries in your mailbox. Our system by default suspends every e-mail and asks sender for small payment. This enables influencers and celebrities accept paid messages and reject unsolicited mail</p>
    </div>
{% endblock %}

