{% extends 'base.twig' %}

{% block content %}
    <div class="main">
       <h1>email Voucher</h1>
       <p>Normally, anyone can put new entries in your mailbox. Our system by default suspends every e-mail and asks sender for voucher. Vouchers are similar to indulgences; they can be used to redeem rights on a one-time basis. Only mailbox owner can emit new vouchers.</p>
    </div>
{% endblock %}

