{% extends 'base.twig' %}

{% block content %}
    <div class="main">
    <h1>Oops</h1>
     <p>You found broken link?</p>
     <p>Site owner is notified. Meanwhile please check our <a href="/">main page</a>.</p>
    </div>
{% endblock %}

